<div class="wrapper">
  <div class="card">
    <div class="card__front card__part" [ngClass]="{'card__front-hide': isSecurityNumberFocused}">
      <img class="card__front-square card__square" src="../assets/chip.svg">
      <p class="card_number">{{ cardNumber ? cardNumber : '**** **** **** ****' }}</p>
      <div class="card__space-75">
        <span class="card__label">Card holder</span>
        <p class="card__info">{{ cardHolder }}</p>
      </div>
      <div class="card__space-25">
        <span class="card__label">Expires</span>
        <p class="card__info">{{ expires }}</p>
      </div>
    </div>

    <div class="card__back card__part" [ngClass]="{'card__back-hide': isSecurityNumberFocused}">
      <div class="card__black-line"></div>
      <div class="card__back-content">
        <div class="card__secret">
          <p class="card__secret--last">{{ securityNumber ? securityNumber : '***' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="field__wrapper">
    <span class="field__label">Number</span>
    <input
      autofocus
      type="text"
      maxlength="19"
      placeholder="9999 9999 9999 9999"
      mask="0000 0000 0000 0000"
      [value]="cardNumber"
      (input)="setCardNumber($event.target.value)"
      (focusout)="validateCardNumber($event.target.value)"
    />
    <span class="field__validation" *ngIf="cardNumberValidation">{{ cardNumberValidation }}</span>
  </div>
  <div class="field__wrapper">
    <span class="field__label">Holder</span>
    <input
      type="text"
      placeholder="John Doe"
      maxlength="19"
      [value]="cardHolder"
      (input)="setCardHolder($event.target.value)"
      (focusout)="validateCardHolder($event.target.value)"
    />
    <span class="field__validation" *ngIf="cardHolderValidation">{{ cardHolderValidation }}</span>
  </div>
  <div class="field__wrapper">
    <span class="field__label">Expires</span>
    <input
      type="text"
      maxlength="5"
      placeholder="00/00"
      mask="00/00"
      [value]="expires"
      (input)="setExpires($event.target.value)"
      (focusout)="validateExpireDate($event.target.value)"
    />
    <span class="field__validation" *ngIf="expiresValidation">{{ expiresValidation }}</span>
  </div>
  <div class="field__wrapper">
    <span class="field__label">Security code</span>
    <input
      type="text"
      mask="999"
      maxlength="3"
      placeholder="000"
      [value]="securityNumber"
      (input)="setSecurityNumber($event.target.value)"
      (focus)="setIsSecurityNumberFocused(true)"
      (focusout)="handleSecurityNumberFocusOut($event.target.value)"
    />
    <span class="field__validation" *ngIf="securityNumberValidation">{{ securityNumberValidation }}</span>
  </div>
</div>
